body {
	background-repeat:no-repeat; 
	background-size:30% 30%; 
	background-position:right bottom; 
	height: 1140px;
}
	
.cabeca{
   font-family:Rockwell; 
   text-shadow: 1px 1px #F39890;
   font-size: 1.5em;
   color: #ba8585;
   margin: 0;
}
.botao{
  background-color: #F39890;
}
.espaco{
padding-top: 5em;
}
.borda1{
  float:left;
  border-radius: 25px;
  border: 2px solid #cccccc;
  padding: 20px; 
  width: 450px;
  height: 100px;
  margin-top: 2em;
}
.cartao{
	float:left;
	margin-top: 2em;
	padding: 20px;
}

